<div class="header">
  <div class="row">
    <div class="col-7">
      <h3><%= current_user.user_name %>さん<a href="/stocks/new">Stocked UP!</a></h3>
    </div>
    <div class="col-5">
      <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, :class => "btn-usr" %>
      <%= link_to "ユーザー情報編集画面へ", edit_user_registration_path, method: :get, :class => "btn-usr" %>
    </div>
  </div>
</div>