<%= render 'stocks/layouts/header' %>
<div class="wrap">
  <div class="tab_area">
    <ul class="row nav justify-content-end no-gutters">
      <li class="col-sm-2 nav-item justify-content-start"><a href="/stocks"><i class="far fa-lightbulb"></i><span class="d-non d-sm-inline pl-1">あなたの在庫</span></a></li>
      <li class="col-sm-2 nav-item1 justify-content-start"><span class="d-non d-sm-inline pl-1"></span></li>
    </ul>
  </div>
  <div class="panel_area">
    <div class="stocks">
      <ul class="row no-gutters">
        <label class="col-12">
          <div class="row justify-content-between border_bg">
            <div class="col-11 text-center">
              <br />
							<br />
							<br />
							<br />
							<br />
							完全に削除しました。
							<br />
							<br />
							<br />
							<br />
							<br />
            </div>
          </div>
        </label>
      </ul>
    </div>
  </div>
</div>