<%= render 'stocks/layouts/header' %>
<div class="wrap">
  <div class="tab_area">
    <ul class="row nav justify-content-end no-gutters">
      <li class="col-sm-2 nav-item justify-content-start"><a href="/stocks"><i class="far fa-lightbulb"></i><span class="d-non d-sm-inline pl-1">あなたの在庫</span></a></li>
      <li class="col-sm-2 nav-item1 justify-content-start"><i class="far fa-lightbulb"></i><span class="d-non d-sm-inline pl-1">過去のstocks</span></li>
    </ul>
  </div>
  <div class="panel_area">
    <%= render 'stocks/layouts/form' %>
  </div>
</div>