@font-face {
  font-family: 'JapanSans80';
  src: url('fonts/JapanSans/JapanSans80.eot');
  src: url('fonts/JapanSans/JapanSans80.eot?#iefix') format('embedded-opentype'),
  url('fonts/JapanSans/JapanSans80.woff') format('woff'),
  url('fonts/JapanSans/JapanSans80.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'smartfontUI';
  src: url('fonts/smartfontUI.otf');
}
@font-face {
  font-family: 'chihaya_c';
  src: url('fonts/chihaya_c.ttf');
}
@font-face {
  font-family: 'Nchihaya';
  src: url(fonts/Nchihaya+.ttf);
}

h1,h2,h3,h4,h5,h6,body {
  letter-spacing: 0.12em;
  font-family: 'Nchihaya','JapanSans80','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3', sans-serif;
}

a:link{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.no-gutters {
  margin: 0;
  padding: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  margin: 0;
  padding: 2;
}
.container{
  min-width: 760px;
  margin: 10px;
  padding-bottom: 15px;
  background-color: #ccffcc;
  display: block;
}
.header{
  margin: 10px 0 5px 5px;
  padding: 10px 10px 5px 15px;
}
// トップ画面
.top{
  max-width: 700px;
  min-width: 500px;
  position: absolute;
  width: 65%;
  height: 380px;
  margin: 15% 8% 10% 10%;
  padding: 15px;
  z-index: 2;
  background:rgba(131,161,42,0.7);
  border-radius: 24% 1.5% 10% 1.5% / 1.5% 20% 1.5% 18%;
  font-family: 'Nchihaya';
}
.top h2{
  padding: 25px 25px 10px;
  font-family: 'Nchihaya';
}
.top .col-12{
  padding: 15px;
}
.top form{
  padding: 0.5em;
  display: inline;
}
.sample{
  position: relative;
  z-index: 1;
  opacity: 0.6;
}
.top .btn-usr{
  color: #fff;
  margin: 10px 10px;
  border-radius : 0.3em;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 5px;
  font-size: 18px; cursor: pointer;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  position: relative;
  background: #009C95;
  border: 4px solid #009C95;
  transition: ease 0.2s;
}
.btn-usr:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
               6px 0px 15px rgba(255, 255, 240, 0.83);
}
.header form{
  padding: 0em;
  display: inline;
}
.btn-usr{
  color: #fff;
  font-family: 'Nchihaya';
  margin: 10px 5px;
  border-radius : 0.3em;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 5px;
  font-size: 13px; cursor: pointer;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  position: relative;
  background: #009C95;
  border: 4px solid #009C95;
  transition: ease 0.2s;
}
.sample .btn-group{
  text-align: left;
  margin: 1% 0 1% 7%;
  letter-spacing: -0.1em;
}
.sample .btn-group .edit{
  color:#fff;
  width:80px;
  margin: 10px 0;
  display:inline-block;
  text-align:center;
  padding:8px 0 8px;
  font-size:18px; cursor:pointer;
  transition:ease 0.2s;
  border-radius:30% 5% 2% 5%/ 14% 40% 25% 25%;
  transform:translateY(8px);
  position:relative;
  background: #009C95;
  border:4px solid #009C95;
  border-bottom:none;
}
.sample .btn-group .delete{
  color:#fff;
  width:80px;
  margin: 10px 0;
  display:inline-block;
  text-align:center;
  padding:8px 0 8px;
  font-size:18px; cursor:pointer;
  transition:ease 0.2s;
  border-radius:30% 5% 2% 5%/ 14% 40% 25% 25%;
  transform:translateY(8px);
  position:relative;
  background:#DD9BA5;
  border:4px solid #DD9BA5;
  border-bottom:none;
}
// タブエリア
.tab_area{
  display: block;
  letter-spacing: -0.05em;
  padding: 0 70px 0 0;
}
.nav .nav-item{
  margin: 0 3px;
  display: inline-block;
  color: #fff;
  background :#90C9CF;
  text-align: center;
  font-size: 13px; cursor:pointer;
  transition: ease 0.2s;
  border: 4px solid #90C9CF;
  border-bottom: none;
  border-radius: 30% 5% 2% 5%/ 14% 40% 25% 25%;
  transform: translateY(8px);
  position: relative;
}
.nav .nav-item a{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 30% 5% 2% 5%/ 14% 40% 25% 25%;
}
.nav-item1{
  margin-right: 5px;
  display: inline-block;
  padding: 4px 0 4px;
  text-align: center;
  font-size:13px;
  color:#000;
  background:#fff;
  border:4px solid #90C9CF;
  border-bottom:none;
  border-radius:30% 5% 2% 5%/ 14% 40% 25% 25%;
  transform:translateY(4px);
  position:relative;
  z-index: 1;
}
.nav a:last-of-type{
  margin-right:0;
}
.nav a:hover{
  background: #afd6d8;
}
// 表示切り替え
.dropdown{
  width: 250px;
  margin-left: 3px;
}
.dropdown label{
  margin: 0;
  font-size: 13px;
}
#dropdownMenu1{
  padding: 0 0 0 6px;
  vertical-align: 1px;
  border: solid 1px #27baca;
  font-size: 15px;
}
.dropdown-toggle{
  margin: 0;
}
.dropdown-menu{
  min-width: 28px;
}
.dropdown ul, li{
  list-style: none;
}
.dropdown-menu ul{
  position: absolute;
  top: 100%;
  left: 0;
  border: solid 1px black;
  background-color: #eee;
  height: 0;
  overflow: hidden;
  text-align: end;
}
.dropdown-menu:hover > ul{
  height: auto;
  border: solid 1px black;
}
.dropdown-menu li{
  text-align: end;
  padding: 0 2px;
  background-color: #fff;
  position: relative;
  width: 30px;
}
.dropdown-menu a {
  display: block;
  color: black;
  text-decoration: none;
}
.dropdown-menu a:hover {
  background-color: #eee;
  width: 95%;
}
// パネル
.panel_area{
  width:100%;
  background:#fff;
  padding:15px 10px 10px 2px;
  border:4px solid #90C9CF;
  border-radius: 2% 9% 2% 12%/ 25% 8% 15% 3%;
  position:relative;
  z-index:0;
}
.panel_area .col-5{
  padding: 0 30px;
}
.panel_area .col-12{
  background: linear-gradient(#fff 95%, #87CEFA 5%);
  background-size: 70% 23px;
}
.panel_area .col-7{
  padding-left: 45px;
  font-size: 20px;
  vertical-align: bottom;
}
.panel_area .col-7 h5{
  font-size: 18px;
  margin-bottom: 0;
}
.user_panel_area{
  width:100%;
  background:#fff;
  padding:15px 10px 10px 2px;
  border:4px solid #90C9CF;
  border-radius: 2% 12% 2% 8%/ 25% 8% 22% 18%;
  position:relative;
  z-index:0;
}
.user_panel_area .col-5{
  padding: 10px 30px;
}
.user_panel_area .col-12{
  background: linear-gradient(#fff 95%, #87CEFA 5%);
  background-size: 70% 23px;
  margin: auto;
}
.user_panel_area .col-11{
  background: linear-gradient(#fff 98%, #87CEFA 2%);
  background-size: 100% 28px;
  margin: auto;
  width: 80%;
}
.clipboard a{
  color: #777474;
  font-size: 18px;
  letter-spacing: 0em;
  padding: 0;
}
.clipboard a:hover{
  color: #272626;
}
.stocks .col-10{
  letter-spacing: 0em;
}
.stocks .col-11{
  letter-spacing: 0em;
}
.stocks .col-11 .btn-usr{
  float: right;
  transform: translateX(35px);
}
// 商品名
.product_name{
  display: flex;
  padding-left: 8px;
  width: 100%;
  background-color: #c8d627;
}
.product_name h2{
  display: inline;
  vertical-align: text-top;
  padding-left: 10px;
}
.check_box{
  position: relative;
  bottom: 6px;
  left: 3px;
}
.product_name input[type="text"]{
  border-style: none;
  box-sizing: border-box;
  border: 0.5px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  margin: 0 15px 2px;
  padding: 0 7px;
  background-color: #b9d66a;
}
//ふせん
.product_name i{
  padding-left: 2px;
}
.btn-sticky-fev0 {
  display: inline-block;
  padding: 0.1em 0.5em 0.1em 0.5em;
  font-size: 12px;
  text-decoration: none;
  background: rgba(247, 247, 247,0.6);
  border-right: solid 6px rgba(204, 84, 111, 0.25);
  color: #d1253f;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.19);
  position: absolute;
  right: -30px;
  top: -2px;
}
.btn-sticky-fev1 {
  display: inline-block;
  padding: 0.25em 0.5em 0.2em 0.5em;
  font-size: 14px;
  text-decoration: none;
  background: #f7f7f7;
  border-right: solid 6px #cc546f;
  color: #d1253f;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  position: absolute;
  right: -30px;
  top: -2px;
}
.btn-sticky-tag0 {
  display: inline-block;
  padding: 0.1em 0.5em 0.1em 0.5em;
  font-size: 12px;
  text-decoration: none;
  background: rgba(247, 247, 247,0.6);
  border-right: solid 6px rgba(153, 204, 242, 0.25);
  color: #27baca;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.19);
  position: absolute;
  right: -30px;
  top: 22px;
}
.btn-sticky-tag1 {
  display: inline-block;
  padding: 0.25em 0.5em 0.2em 0.5em;
  font-size: 14px;
  text-decoration: none;
  background: #f7f7f7;
  border-right: solid 6px #99ccf2;
  color: #27baca;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  position: absolute;
  right: -30px;
  top: 22px;
}
.fev{
  color: #d1253f;
  font-family: 'smartfontUI';
  letter-spacing: 0;
}
.tag{
  color: #27baca;
  font-family: 'smartfontUI';
  letter-spacing: 0;
}
.fb{
  font-family: 'FontAwesome';
}
.fc{
  font-family: 'FontAwesome';
}
.fas-heart:before {
	content: '\f004';
  color: #d1253f;
  font-weight: 900;
  font-size: 13px;
}
.far-heart:before {
	content: '\f004';
  color: #DD9BA5;
}
.fev:hover{
  color: #DD9BA5;
}
.fas-star:before {
	content: '\f005';
  color: #27baca;
  font-weight: 900;
  font-size: 13px;
}
.far-star:before {
	content: '\f005';
  color: #27baca;
}
.tag:hover{
  color: #99ccf2;
}
.btn-sticky-fev1:hover {
  background: rgba(247, 247, 247,0.9);
  border-right: solid 6px rgba(204, 84, 111, 0.25);
  color: #DD9BA5;
}
.btn-sticky-fev0:hover {
  background: #f7f7f7;
  border-right: solid 6px #cc546f;
  color: #d1253f;
}
.btn-sticky-tag0:hover {
  background: #f7f7f7;
  border-right: solid 6px #99ccf2;
  color: #27baca;
}
.btn-sticky-tag1:hover {
  background: rgba(247, 247, 247,0.9);
  border-right: solid 6px rgba(153, 204, 242, 0.25);
  color: #90C9CF;
}
.btn-sticky-fev0:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
  background: #f7f7f7;
  border-right: solid 6px #cc546f;
  color: #d1253f;
}
.btn-sticky-fev1:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
  background: rgba(247, 247, 247,0.9);
  border-right: solid 6px rgba(204, 84, 111, 0.25);
  color: #DD9BA5;
}
.btn-sticky-tag0:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
  background: #f7f7f7;
  border-right: solid 6px #99ccf2;
  color: #27baca;
}
.btn-sticky-tag1:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
  background: rgba(247, 247, 247,0.9);
  border-right: solid 6px rgba(153, 204, 242, 0.25);
  color: #90C9CF;
}
// フォームエリア
.stocks ul{
  margin: 10px 10% 0 7%;
  padding: 5px 12px 0 10px;
  border: 2px #009C95 dashed;
  display: block;
}
.user_panel_area ul{
  margin: 10px 10% 0 7%;
  padding: 5px 12px 0 10px;
  border: 2px #009C95 dashed;
  display: block;
}
.border_bg{
  padding: 0 0 0 15px;
}
.stocks ul li{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}
.stocks li{
  font-size: 15px;
}
.user_panel_area ul li{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}
.user_panel_area h3{
  display: inline;
  vertical-align: text-top;
  padding-right: 150px;
  width: 100%;
}
.user_panel_area i{
  font-size: 11px;
  padding-left: 15px;
}
.user_panel_area .col-10{
  padding: 22px 0 0 25px;
  letter-spacing: 0.1em;
}
.user_panel_area .col-10 li{
  font-size: 14px;
  line-height: 18px;
}
.col-10 a:hover{
  color: #272626;
}
.consumed{
  color: #777474;
  font-size: 15px;
}
.consumed .fas, .consumed .far{
  font-family: 'FontAwesome', 'Nchihaya';
  font-weight: 400;
}

// ボタン
.col-1 .btn-group{
  letter-spacing: -0.1em;
}
.btn-group{
  margin: 1% 0 1% 7%;
}
.btn-outline-info, .btn-outline-worning, .btn-outline-danger{
  padding: 0.3em;
  font-size: 15px;
  letter-spacing: -0.1em;
}
.btn-group .edit a, .btn-group .delete a{
  color: #fff;
  width: 80px;
  margin: 10px 0;
  display: inline-block;
  text-align: center;
  padding: 5px 0 5px;
  font-size: 16px; cursor:pointer;
  transition: ease 0.2s;
  border-radius: 30% 5% 2% 5%/ 14% 40% 25% 25%;
  transform:translateY(8px);
  position:relative;
}
.btn-group .edit a{
  background: #009C95;
  border: 4px solid #009C95;
  border-bottom: none;
}
.btn-group .delete a{
  background: #DD9BA5;
  border: 4px solid #DD9BA5;
  border-bottom: none;
}
.btn-group a:hover{
  text-decoration: none;
  transition: ease 0.2s;
  border-radius: 30% 5% 2% 5%/ 14% 40% 25% 25%;
  border: none;
  transform: translateY(12px);
}
.btn-group .edit a:hover{
  background: #025043;
}
.btn-group .delete a:hover{
  background: #da3850;
}
// ログイン画面
.box-name input[type="text"], .box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 28px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  margin: 0 15px;
  padding: 0 7px;
}
.box-name{
  padding: 2px 0 10px 0;
}
.box-email{
  padding: 14px 0 10px 0;
}
.box-password{
  padding: 16px 0 10px 0;
}
.actions{
  text-align: right;
}
.alert i{
  font-size: 20px;
  padding: 13px;
  color: red;
}
.pagination {
  font-size: 18px;
  padding: 0 20px 0 0;
  float: right;
  color: #007bff;
}
.pagination a:hover {
  background: #202020 none repeat scroll 0 0;
  text-shadow: 1px 1px 1px #171717;
}
.pagination a:active {
  text-shadow: none;
}
.pagination .current {
  background: #202020 none repeat scroll 0 0;
  color: white;
  text-shadow: 1px 1px 1px #171717;
}
/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}
